body {
  padding-bottom: 50px;
}

.App {
  display: flex;
  flex-direction: column;
}

.App p {
  font-size: 20px;
  text-align: center;
}

.Logotypes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.Logotypes img {
  width: 200px;
  height: fit-content;
}

@media only screen and (max-width: 768px) {
  .Logotypes {
    flex-direction: column;
    gap: 15px;
  }

  .App {
    flex-direction: column-reverse;
  }

  .App p {
    font-size: 15px;
    padding-bottom: 15px;
  }
}